<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>
<h1>CSRF test on Origin</h1>
<a href="transfer?accountNo=1234&amount=100">Transfer Money to John</a>

<form th:action="transfer" method="POST">
    <label>Account Number</label>
    <input name="accountNo" type="number"/>

    <label>Amount</label>
    <input name="amount" type="number"/>

    <input type="submit">
</form>
</body>
</html>